body {
  padding: 10px; 
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px; 
  border: 3px solid rgb(16, 165, 235);
   
}
header {
    background-image: url(Images/Снимок.JPG);
    padding: 10px;
    text-align: center;
    color: rgb(209, 14, 14);
}
h1 {
  font-size: 80px;
  letter-spacing : 2px;
}
h2, h3 {
  text-align: center;
  font-style: italic;
  color: rgb(241, 15, 64);
}
p  {
  font-size: 20px;
  text-indent: 40px;
}
li {
  display: inline;
  font-size:30px;
  margin-right: 82px;
  color:rgb(161, 56, 21)
}
.main {
  height:auto;
  width: 1100px;
  padding: 2px;
  background-color: #d2dbec;
  text-align: justify; /*заполнение текстом*/
}
.sidebar {
  border: 1px solid red; /* Толщина рамки в пикселах,тип границы (в данном случае сплошная линия) и цвет линии */
  float:right;
  width: 400px;
  padding: 2px;
  height:auto;
  background-color:tan;
  text-align: justify;
    }
  .footer {
    background-color:rgb(97, 81, 189);
    height:150px;
    text-align: right;
    }
 .alan {
   text-align: center;
 }
 .tron {
   text-align: center;
   color:rgb(89, 128, 128);
 }
 a  { /*цвет сслыки до нажатия*/
   color:rgb(56, 155, 155);
 }
 a:active { /*цвет активной ссылки*/
  color:rgb(168, 14, 45);
 }
 a:hover {   /*цвет нажатой ссылки*/
  background: #f0ed35; /* Цвет фона под ссылкой */ 
  color: #f8185b; /* Цвет ссылки */ 
  }
.znak {
  text-align: center;
}
.egor {
  text-align: center;
   color:rgb(89, 128, 128);
}
input:focus{ 
  background-color: khakis;
  color: brown; 
  font-size: 18px;  
  border: 2px solid orange; 
  } 
img {
  border: 2px solid green; 
}
.zaraz  {
  text-align: right;
}